nav {
		background-image: url("images/ban.png");
        border-radius: 40px;
        padding: 1.5%;
        margin-block: 2%;
        margin-right: 8%;
        margin-left:8% ;
        text-align: center;
}
nav ul {
        list-style-type: none;
}
nav li{
    display: inline;
}
nav a{
    margin: 0.8%;
    text-decoration:none;
    background-color: #bbffbe;
    font-size: 24px;
    padding: 1%;
    border-radius: 50px;
    text-align: center;
    color: #065654;
    border: solid;
    border-color: #61ab89;
    font-family: Arial;
}
body { 
    background-color: #065654;
}

p{
  font-family: "Avenir","Roboto","Helvetica","Arial",sans-serif;
}

H1{
    background-color:#bbffbe ;
    color: #065654;
    font-family: "Avenir","Roboto","Helvetica","Arial",sans-serif;
    padding-left: 0.5%;
    margin-right: 55%;
    margin-left: 5%;
    border-radius: 30px;
    border: solid;
    border-color: #61ab89;
    text-align: center;
}
.block{
    background-color: white;
    color: black;
    font-family: "Avenir","Roboto","Helvetica","Arial",sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.icon img {
  width: 50px;
  height: auto;
  margin: 30px;
}
.tt{
    font-family: "Avenir","Roboto","Helvetica","Arial",sans-serif;
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
    text-align: center;
}
header{
	
	border-radius: 50px;
	border: 10px;
	border: solid;
	font-size: 30px;
	font-weight: Bold;
	padding: 10px;
	margin-bottom:50px ;
	margin-top: 50px;
	font-family: "Avenir","Roboto","Helvetica","Arial",sans-serif;
	color: #065654;
	background-color:#bbffbe ;
	border-color: #61ab89;
	text-align: center
	
}
.video{
    width: 5px;
    height: 10px;
}
.yt iframe{
    width: 1000px;
    height: 500px;
    display: block;
    margin: auto;
    border: 0px;
}
.pdf embed{
    display: block;
    margin: auto;
    width: 1000px;
    height: 800px;
}
.osm iframe{
  display: block;
  border: none;
  width: 1000px ;
  height: 800px;
  margin: auto;
}
.car img{
    display: block;
    margin: auto;
}
.titer{
    font-family: "Avenir","Roboto","Helvetica","Arial",sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 570px;
    text-align: right;

}
.h2{
    
    border-radius: 20px;
    border: 10px;
    border: solid;
    font-size: 30px;
    font-weight: Bold;
    margin-bottom:50px ;
    margin-top: 50px;
    font-family: "Avenir","Roboto","Helvetica","Arial",sans-serif;
    color: #065654;
    background-color:#bbffbe ;
    border-color: #61ab89;
    text-align: center;
}
.imgter img{
    height: 48px;
    width: 48px;
    display: block;
    margin: auto;
    margin-inline: 200px;
    margin-top: 24px;
    margin-bottom: 10px;
}
.icon2 img {
  width: 50px;
  height: auto;
  margin-left: 30px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.titre{
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}
.center{
    text-align: center;
}
@font-face {
    font-family: 'Avenir';
    src: url('fonts/avenir-webfont.woff2') format('woff2'),
         url('fonts/avenir-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}